/* цвет основного текста #000000 */
/* вторичный цвет rgba(0, 0, 0, 0.8) */
/* белый цвет текста #FFFFFF */
/* акцент #18A0FB */
/* основной цвет фона #FFFFFF  */
/* вторичний цвет фона #F5F5F5   */
/* font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif; */
/* line-height: 1.2; - высота линий , инторлиньяж, без пиксилей это множитель размера шрифта от высоты линий*/
/*  font-size: 28px; - размер шрифта */
/* font-weight: 400; - насыщенность или толщина шрифта */
/* font-family: "Montserrat", sans-serif; - семейства шрифтов */
/* text-decoration: none; - убрать нижнее подчеркивание ссылок и сброс точек */
:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-bg-color: #ffffff;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.015em;
}
/* сбрасываем стили списка */
ul {
  list-style: none;
}
.list {
  text-decoration: none;
}
/* Логотип */
.logo {
  color: var(--title-text-color);
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}
.logo:hover {
  color: var(--accent-color);
}
/* Явно унаследует font-family: inherit; */
/* button {
  font-family: inherit;
} */
/* site-nav навигация сайта */
.site-nav .link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--title-text-color);
}
/* hero */
.hero-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
  text-align: center;
}

/* section секции */
.section-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}
.section-description {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.39;
}

/* Features */
.feature-list .title,
.work-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
.feature-list .text {
}
/*  work-list       Examples */
/* .work-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
} */

/* Button */
.footer-list a {
  text-decoration: none;
}
.footer-text {
  font-size: 15px;
  line-height: 1.6;
}
.footer-title {
  font-weight: 700;
  color: var(--title-text-color);
  font-size: 15px;
  line-height: 1.6;
}
.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}
.button.primeri {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
}
